@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500&display=swap');

* {
  background-color: #c36fd4;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 1.45rem;
}

.vd{
  margin-bottom: 0.5vh;
  margin-top: 1vh;
  text-align: center;
}

h1 {
  color: #ac0000;
}

.imageone {
  width: 28%;
  height: auto;
}

.imagetwo {
  margin-top: 2vh;
  max-height: 15rem;
  max-width: auto;
}

.videoo {
  margin-bottom: 1vh;
  width: 70%;
  height: auto;
}

.stuff {
  border: 10px;
  border-style: double;
  padding: 10px;
  border-color: #ac0000;
}